video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#polina {

  color: black;
  position: inherit;
  padding: 2rem;
  margin:auto;
  float: right;
}

@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {  #bgvid { display: none; }
}
